<% layout("/layouts/boilerplate") -%>
<body>
    <% if (username && userType === 'User') { %>
        <div class="card" style="width: 18rem; margin: auto; margin-top: 5rem;">
          <div class="card-body">
            <h5 class="card-title">User Details</h5>
            <p class="card-text">Username: <%= username %></p>
            <p class="card-text">User ID: <%= currUser.userId %></p>
            <p class="card-text">Mobile Number: <%= currUser.mobileNo %></p>
            <p class="card-text">Guardian Number: <%= currUser.guardianNo %></p>
            <p class="card-text">Blood Group: <%= currUser.bloodGrp %></p>
            <p class="card-text">Health Details: <%= currUser.healthDetails %></p>
            <a href="#" class="btn btn-primary">Edit</a>
          </div>
        </div>
      <% } else { %>
        <div class="text-center" style="margin-top: 5rem;">
          <h1 style="font-size: 2.5rem; color: #fe424d;">Welcome</h1>
          <p style="font-size: 1.5rem;">Swift response, saving lives: Scan & Rescue in action</p>
        </div>
      <% } %>
</body>
